@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


/* ---------------navigation--------------- */

.navigation {
    position: fixed;
    width: 100px;
    height: 100%;
    transition: 0.5s;
    background-color: rgb(54, 54, 54);
    padding: 2px 28px;
    text-decoration: none;
    margin-top: 0px;
    z-index: 1;
}

.navigation ul li {
    text-decoration: none;
    margin-top: 10px;
    transition: 0.5s;
    list-style: none;
    border-bottom: solid 2px rgb(109, 109, 109);
    justify-content: center;
    align-items: center;
    padding-bottom: 7px;
    padding-left: 5px;
}

.navigation ul li p {
    transition: 0.5s;
}

.navigation ul li p:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

/* ---------------header--------------- */
.header {
    position: absolute;
    width: calc(100% - 100px);
    left: 100px;
    min-height: 1vh;
    box-shadow: 0 5px 7px -4px rgba(0, 0, 0, 0.4);
    padding: 20px 0px 0 30px;
    justify-content: space-between;
    z-index: 1;
    display: flex;
}

.header h3 {
    text-align: center;
    color: rgb(36, 114, 43);
    padding-left: 500px;
    padding-top: 4px;
}

.header h3 input {
    text-align: left;
    padding: 5px 10px 5px 20px;
    border: none;
    border-bottom: solid 1px rgb(0, 0, 0);
    margin-right: 100px;
}

.header h2 {
    text-align: left;
}

.header p {
    padding-right: 30px;
    padding-bottom: 10px;
    transition: 0.5s;
}

.header p:hover {
    transform: scale(1.2);
}


/* --------------- users --------------- */

.user {
    position: absolute;
    width: calc(100% - 100px);
    left: 100px;
    min-height: 88vh;
    background-color: rgb(244, 244, 244);
    color: var(--black1);
    top: 75px;
}

.vehicle_information3{
    width: 800px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 10%;
}

.user .contents {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: space-between;
    width: 70%;
    margin-left: 8%;
    position: absolute;
}

.activeNav2 {
    width: 300px;
    background-color: rgb(75, 75, 75);
    height: 120px;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    padding: 10%;
    box-shadow: 0px 4px 4px -4px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.activeNav2 h4 {
    padding: 12px;
}

.activeNav2 p {
    display: grid;
    grid-template-columns: 50px 50px;
    justify-content: center;
}

.activeNav2 p b {
    margin-top: 5px;
    font-size: 1.5rem;
}

.activeNav2:hover {
    transform: scale(1.09);
}

.company {
    width: 300px;
    background-color: rgb(255, 255, 255);
    height: 120px;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    padding: 10%;
    box-shadow: 0px 4px 4px -4px rgb(0, 0, 0);
    color: #000;
}


.company h4 {
    color: var(--black1);
    padding: 10px;
}

.company p {
    display: grid;
    grid-template-columns: 50px 50px;
    justify-content: center;
}

.company p b {
    margin-top: 5px;
    font-size: 1.5rem;
}

.company:hover {
    transform: scale(1.09);
}

.individual {
    width: 300px;
    background-color: rgb(255, 255, 255);
    height: 120px;
    margin-bottom: 50px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    padding: 10%;
    box-shadow: 0px 4px 4px -4px rgb(0, 0, 0);
    color: #000;
}

.individual h4 {
    color: var(--black1);
    padding: 10px;
}

.individual p {
    display: grid;
    grid-template-columns: 50px 50px;
    justify-content: center;
}

.individual p b {
    margin-top: 5px;
    font-size: 1.5rem;
}

.individual:hover {
    transform: scale(1.09);
}

/* ------------------ search ------------------- */

.users_search {
    margin-top: 230px;
    margin-left: 55%;
}
.hide {
    display: none;
}

.users_search p {
    display: flex;
}

.users_search p .icn {
    margin-top: 8px;
    padding-left: -30px;
    margin-right: -42px;
    z-index: 1;
}

.users_search input {
    width: 61%;
    height: 38px;
    padding-left: 50px;
    border-radius: 6px 0px 0px 6px;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    margin-left: 10px;
}

.users_search p button {
    width: 15%;
    background-color: #222;
    color: var(--white);
    border-radius: 0px 7px 7px 0px;
    border: none;
}

.users_search p button:hover {
    background-color: rgb(67, 67, 67);
    border: none;
}


/* ------------------ filter ------------------- */

.filter p {
    margin-top: 5px;
    margin-left: 80%;
    color: rgb(63, 63, 63);
    display: flex;
}

.filter p .fil {
    margin-top: 1px;
}

.filter p h6 {
    padding-left: 5px;
    font-size: 0.8rem;
    padding-bottom: 10px;
}

/* ------------------ table ------------------- */

.tables {
    overflow-x: scroll;
    padding: 1%;
}
.t_table{
    padding: 1%;
    width: 100%;
}
.user_table {
    margin-left: 4%;
    margin-top: 4px;
    border-collapse: collapse;
    width: 90%;
    margin-bottom: 15px;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.user_table thead  {
    background-color: #4a4a4a;
    color: var(--white);
    text-align: left;
    padding: 2%;
    margin-top: 2%;
}

.user_table button{
    background-color:  #404040;
    color: var(--white);
    padding: 3%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 5px; 
    width: 70px;
    font-size: 0.8rem;
}
.user_table .edit_button{
    background-color: #006666;
}

.user_table th,
.user_table td {
    padding: 8px 15px;
}

.user_table tbody tr {
    border-bottom: 1px solid #bfbfbf;
}

.user_table tbody tr:nth-of-type(even) {
    background-color: #ffffff;
}

.user_table tbody tr:last-of-type {
    border-bottom: 4px solid  #4a4a4a;
}

.user_table tbody .active_row {
    color: #009879;
}

/* ------------------ page ------------------- */
.page{
    align-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.num{
    padding: 20px 10px 20px 20px;
}
.page .sel{
   margin-right: 50px;
}
.page .next{
    margin-top: 8px;
    margin-left: 10px;
 }
 .users_menu{
    display: none;
 }



@media screen and (max-width: 1130px) {

    .header h3 {
        display: none;
    }

    .user .contents {
        display: grid;
        grid-template-columns: 100px 100px;
        justify-content: space-around;
        width: 70%;
        margin-left: 30px;
        column-gap: 180px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .user .contents {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 100px 100px;
        justify-content: space-between;
        width: 70%;
        margin-left: 30px;
        position: absolute;
        padding-left: 5%;
    }

    .users_search {
        margin-top: 400px;
        margin-right: 10%;
        margin-left: 150px;
        width:
         60%;
    }
    .filter p {
        margin-top: 40px;
        margin-left: 50%;
    }
    
    .t_table{
        padding: 2%;
        width: 98%;
    }
    .user_table {
        margin-left: 3%;
        margin-top: 4px;
        border-collapse: collapse;
        width: 80%;
        margin-bottom: 15px;
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }


}
@media screen and (max-width: 930px) {
    .user .contents {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 100px 100px;
        justify-content: space-between;
        width: 70%;
        margin-left: 30px;
        position: absolute;
        padding-left: 5%;
    }

    .users_search {
        margin-top: 400px;
        margin-right: 0%;
        margin-left: 150px;
        width: 60%;
    }
    .t_table{
        padding: 2%;
        width: 97%;
        overflow-x: scroll;
    }
    .user_table {
        margin-left: 1%;
        margin-top: 4px;
        border-collapse: collapse;
        width: 85%;
        margin-bottom: 15px;
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
  

}

@media screen and (max-width: 700px) {
    .user .contents {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 100px;
        justify-content: space-between;
        width: 70%;
        margin-left: 0px;
        position: absolute;
        padding-left: 20%;
    }

    .user {
        position: absolute;
        width: 100%;
        left: 100px;
        min-height: 88vh;
        background-color: rgb(244, 244, 244);
        color: var(--black1);
        top: 75px;
    }

    .users_search {
        margin-top: 550px;
        margin-right: 10%;
        margin-left: 150px;
        width: 60%;
    }
    .filter{
        margin-top: 5px;
        margin-left: -50%;
        color: rgb(63, 63, 63);
        display: flex;
    }
    .users_search {
        margin-top: 550px;
        margin-right: 10%;
        margin-left: 150px;
        width: 60%;
    }
    .t_table{
        padding: 2%;
        width: 85%;
        overflow-x: scroll;
    }
    .user_table {
        margin-left: 2%;
        margin-top: 4px;
        border-collapse: collapse;
        width: 80%;
        margin-bottom: 15px;
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }

}

@media screen and (max-width: 600px) {
    .user .contents {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 100px;
        justify-content: space-between;
        width: 70%;
        margin-left: 0px;
        position: absolute;
        padding-left: 17%;
    }

    .users_search {
        margin-top: 550px;
        margin-right: 10%;
        margin-left: 50px;
        width: 70%;
    }
    .users_search {
        margin-top: 550px;
        margin-right: 10%;
        margin-left: 150px;
        width: 60%;
    }
    .t_table{
        padding: 2%;
        width: 80%;
        overflow-x: scroll;
    }
    .user_table {
        margin-left: 1%;
        margin-top: 4px;
        border-collapse: collapse;
        width: 85%;
        margin-bottom: 15px;
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
    .users_menu {
        display: contents;
    }

    .header .header_title {
        display: none;
    }
}

@media screen and (max-width: 500px) {

    .user .contents {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 100px;
        justify-content: space-between;
        width: 70%;
        margin-left: 0px;
        position: absolute;
        padding-left: 8%;
    }
    .users_search {
        margin-top: 550px;
        margin-right: 10%;
        margin-left: 50px;
        width: 70%;
    }
    .users_search {
        margin-top: 550px;
        margin-right: 10%;
        margin-left: 150px;
        width: 60%;
    }
    .t_table{
        padding: 2%;
        width: 80%;
        overflow-x: scroll;
    }
    .user_table {
        margin-left: 1%;
        margin-top: 4px;
        border-collapse: collapse;
        width: 75%;
        margin-bottom: 15px;
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
}

@media screen and (max-width: 400px) {
    .user .contents {
        padding-left: 10px;
    }
    .users_search {
        margin-top: 500px;
        margin-right: 10%;
        margin-left: 150px;
        width: 60%;
    }
    .t_table{
        padding: 2%;
        background-color: rgb(0, 0, 0);
        width: 70%;
        overflow-x: scroll;
    }
    .user_table {
        margin-left: 1%;
        margin-top: 4px;
        border-collapse: collapse;
        width: 85%;
        margin-bottom: 15px;
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }
}

@media screen and (max-width: 360px) {
    .user .contents {
        padding-left: -100px;
        margin-right: 200px;
    }
    .users_search {
        margin-top: 520px;
        margin-right: 10%;
        margin-left: 110px;
        width: 60%;
    }
    .filter{
        margin-top: 5px;
        margin-left: -100%;
        color: rgb(63, 63, 63);
        display: flex;
    }
    .t_table{
        padding: 8%;
        width: 80%;
        overflow-x: scroll;
    }
    .user_table {
        margin-left: 1%;
        margin-top: 4px;
        border-collapse: collapse;
        width: 88%;
        margin-bottom: 15px;
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }

}