

/* .dashboard_container {
   position: relative;
   width: 100%;
   text-decoration: none;
} */


/* ----------------- header ----------------- */


/* ----------------- contents ----------------- */


.dashboard_contents {
   margin-top: 60px;
   display: grid;
   grid-template-columns: 100px 100px 100px;
   justify-content: space-between;
   width: 70%;
   margin-left: 90px; 
   position: absolute;
}


/* ----------------- Vehicle ----------------- */
.vehicle {
   width: 300px;
   background-color: rgb(255, 255, 255);
   height: 120px;
   margin-bottom: 50px;
   border-radius: 10px 0px 0px 10px;
   text-align: center;
   transition: 0.3s;
   padding: 10%;
   border-right: 8px solid #006666;
   box-shadow: 1px 5px 5px -4px rgb(0, 0, 0);
   display: inline-block;
}

.vehicle h4 {
   color: #006666;
   padding: 15px;
   border: none;
   text-decoration: none;
}

.vehicle:hover {
   transform: scale(1.09);
}

.vehicleTotal{
   display: grid;
   grid-template-columns: 60px 20px;
   justify-content: center;
}
.vehicleTotal p{
   font-size: 25px;
   font-weight: 700;
   color: #006666;
   margin-top: 5px;
}

/* ----------------- Comunication ----------------- */
.comunication {
   width: 300px;
   background-color: rgb(255, 255, 255);
   height: 120px;
   margin-bottom: 50px;
   border-radius: 10px 0px 0px 0px;
   text-align: center;
   transition: 0.3s;
   padding: 10%;
   border-right: 8px solid #b35900;
   box-shadow: 1px 5px 5px -4px rgb(0, 0, 0);
   display: inline-block;
}

.comunication h4 {
   color: #b35900;
   padding: 10px;
}

.comunication:hover {
   transform: scale(1.09);
}

/* ----------------- Users ----------------- */
.users {
   width: 300px;
   background-color: rgb(255, 255, 255);
   height: 120px;
   margin-bottom: 50px;
   border-radius: 10px 0px 0px 10px;
   text-align: center;
   transition: 0.3s;
   padding: 10%;
   border-right: 8px solid #002e4d;
   box-shadow: 1px 5px 5px -4px rgb(0, 0, 0);
   display: inline-block;
}

.users h4 {
   color: #002e4d;
   padding: 10px;
}

.users:hover {
   transform: scale(1.09);
}

/* ----------------- Registration ----------------- */
.registration {
   width: 300px;
   background-color: rgb(255, 255, 255);
   height: 120px;
   margin-bottom: 50px;
   border-radius: 10px 0px 0px 10px;
   text-align: center;
   transition: 0.3s;
   padding: 10%;
   border-right: 8px solid #00802b;
   box-shadow: 1px 5px 5px -4px rgb(0, 0, 0);
   display: inline-block;
}

.registration h4 {
   color: #00802b;
   padding: 10px;
}

.registration:hover {
   transform: scale(1.09);
}

/* ----------------- Monitor_vehicle ----------------- */
.monitor_vehicle {
   width: 300px;
   background-color: rgb(255, 255, 255);
   height: 120px;
   margin-bottom: 50px;
   border-radius: 10px 0px 0px 10px;
   text-align: center;
   transition: 0.3s;
   padding: 10%;
   border-right: 8px solid #009999;
   box-shadow: 1px 5px 5px -4px rgb(0, 0, 0);
   display: inline-block;
}

.monitor_vehicle h4 {
   color: #009999;
   padding: 10px;
}

.monitor_vehicle:hover {
   transform: scale(1.09);
}

/* ----------------- Report ----------------- */
.report {
   width: 300px;
   background-color: rgb(255, 255, 255);
   height: 120px;
   margin-bottom: 50px;
   border-radius: 10px 0px 0px 10px;
   text-align: center;
   transition: 0.3s;
   padding: 10%;
   border-right: 8px solid #005c99;
   box-shadow: 1px 5px 5px -4px rgb(0, 0, 0);
   display: inline-block;
}

.report h4 {
   color: #005c99;
   padding: 10px;
}

.report:hover {
   transform: scale(1.09);
}

/* ----------------- alert ----------------- */
.alert {
   width: 300px;
   background-color: rgb(255, 255, 255);
   height: 120px;
   margin-bottom: 50px;
   border-radius: 10px 0px 0px 10px;
   text-align: center;
   transition: 0.3s;
   padding: 10%;
   border-right: 8px solid #ff0000;
   box-shadow: 1px 5px 5px -4px rgb(0, 0, 0);
   display: inline-block;
}

.alert h4 {
   color: #ff0000;
   padding: 10px;
}

.alert:hover {
   transform: scale(1.09);
}

/* ----------------- tracking ----------------- */
.tracking {
   width: 300px;
   background-color: rgb(255, 255, 255);
   height: 120px;
   margin-bottom: 50px;
   border-radius: 10px 0px 0px 10px;
   text-align: center;
   transition: 0.3s;
   padding: 10%;
   border-right: 8px solid #404040;
   box-shadow: 1px 5px 5px -4px rgb(0, 0, 0);
   display: inline-block;
}

.tracking h4 {
   color: #404040;
   padding: 10px;
}

.tracking:hover {
   transform: scale(1.09);
}


/* ---------------responsiveness--------------- */

@media screen and (max-width: 1130px) {

   .header h3 {
      display: none;
   }

   .dashboard_contents {
      display: grid;
      grid-template-columns: 100px 100px;
      justify-content: space-around;
      width: 70%;
      margin-left: 30px;
      column-gap: 180px;
      padding-right: 50px;
   }

   .dashboard_main {
      min-height: calc(140vh - 12.3vh);
   }
}

@media screen and (max-width: 800px) {
   .dashboard_contents {
      margin-top: 40px;
      display: grid;
      grid-template-columns: 100px;
      justify-content: space-between;
      width: 70%;
      position: absolute;
      padding-left: 20%;
   }

   .dashboard_main {
      min-height: calc(260vh - 12.3vh);
   }
}

@media screen and (max-width: 700px) {
   .dashboard_contents {
      padding-left: 10%;
   }
}

@media screen and (max-width: 500px) {

   .dashboard_header {
      position: absolute;
      width: calc(100% - 1px);
      left: 1px;
      min-height: 1vh;
      box-shadow: 0 5px 7px -4px rgba(0, 0, 0, 0.4);
      padding: 20px 0px 0 30px;
      justify-content: space-between;
   }

   .dashboard_main {
      position: absolute;
      width: calc(100% - 1px);
      left: 1px;
      min-height: calc(260vh - 12.3vh);
   }

   .dashboard_contents {
      margin-left: 22%;
   }

   .header_title {
      width: 200px;
   }

   h2 {
      font-size: small;
   }

   .dashboard_header .header_title {
      font-size: small;
   }

   .vehicle {
      width: 250px;
   }

   .vehicle h4 {
      padding: 8px;
   }

   .comunication {
      width: 250px;
   }

   .comunication h4 {
      padding: 8px;
   }

   .users {
      width: 250px;
   }

   .users h4 {
      padding: 8px;
   }

   .registration {
      width: 250px;
   }

   .registration h4 {
      padding: 8px;
   }

   .monitor_vehicle {
      width: 250px;
   }

   .monitor_vehicle h4 {
      padding: 8px;
   }

   .report {
      width: 250px;
   }

   .report h4 {
      padding: 8px;
   }

   .alert {
      width: 250px;
   }

   .alert h4 {
      padding: 8px;
   }

   .tracking {
      width: 250px;
   }

   .tracking h4 {
      padding: 8px;
   }
}

@media screen and (max-width: 400px) {
   .dashboard_contents {
      margin-left: 3%;
   }

}