@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --blue: #2a2185;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

.tacking_container {
    position: relative;
    width: 100%;
    text-decoration: none;
}

/* ---------------navigation--------------- */

.tacking_navigation {
    position: fixed;
    width: 100px;
    height: 100%;
    transition: 0.5s;
    background-color: rgb(54, 54, 54);
    padding: 2px 28px;
    text-decoration: none;
    margin-top: 0px;
    z-index: 1;
}
.tacking_navigation ul li {
    text-decoration: none;
    margin-top: 10px;
    transition: 0.5s;
    list-style: none;
    border-bottom: solid 2px rgb(109, 109, 109);
    justify-content: center;
    align-items: center;
    padding-bottom: 7px;
    padding-left: 5px;
}

.tacking_navigation ul li p {
    transition: 0.5s;
}

.tacking_navigation ul li p:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

/* ---------------header--------------- */
.tracking_header {
    position: absolute;
    width: calc(100% - 100px);
    left: 100px;
    min-height: 1vh;
    box-shadow: 0 5px 7px -4px rgba(0, 0, 0, 0.4);
    padding: 20px 0px 0 30px;
    justify-content: space-between;
    z-index: 1;
    display: flex;
}

.tracking_header h3 {
    text-align: center;
    color: rgb(36, 114, 43);
    padding-left: 500px;
    padding-top: 4px;
}

.tracking_header h3 input {
    text-align: left;
    padding: 5px 10px 5px 20px;
    border: none;
    border-bottom: solid 1px rgb(0, 0, 0);
    margin-right: 100px;
}

.tracking_header h2 {
    text-align: left;
}

.tracking_header p {
    padding-right: 30px;
    padding-bottom: 10px;
    transition: 0.5s;
}

.tracking_header p:hover {
    transform: scale(1.2);
}

/* ------------------ search ------------------- */
.trucking_main {
    position: absolute;
    width: calc(100% - 100px);
    left: 100px;
    min-height: 10vh;
    opacity: var(--black2);
    color: var(--black1);
    top: 75px;
    background-color: rgb(242, 242, 242);
   
 }

.map_search {
    margin-left: 55%;
    padding-top: 130px;
}

.hide {
    display: none;
}

.map_search p {
    display: flex;
}

.map_search p .iiicn {
    margin-top: 8px;
}

.map_search input {
    width: 61%;
    height: 38px;
    padding-left: 20px;
    border-radius: 6px 0px 0px 6px;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    margin-left: 10px;
}

.map_search p button {
    width: 15%;
    background-color: #222;
    color: var(--white);
    border-radius: 0px 7px 7px 0px;
    border: none;
}

.map_search p button:hover {
    background-color: rgb(67, 67, 67);
    border: none;
}

/* -------------------Place for map --------------------- */

.m-mapclone {
    box-shadow: 0px 0px 11px -1px #000000;
    border-radius: 2%;
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 7%;
    margin-bottom: 3%;
    height: 700px;
}


.m-mapclone p .mapsize {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 750px) {
    .m-mapclone {
        margin-left: 17%;
    }

}


@media screen and (max-width: 610px) {
    .m-search {
        margin-right: 10%;
    }

    .m-search p button {
        width: 29%;
    }

    .m-ion{
        size: 0.5rem;
    }

    .m-mapclone {
        margin-left: 24%;
    }
    .menu_controler {
        display: contents;
    }

    .tracking_header .header_title {
        display: none;
    }
}

@media screen and (max-width: 430px) {
    .m-search {
        margin-right: 10%;
    }

    .m-mapclone {
        margin-left: 25%;
    }
}