
/* --------------- users --------------- */

.main_content {
    position: relative;
    width: calc(100% - 100px);
    left: 100px;
    min-height: 88vh;
    background-color: rgb(238, 238, 238);
    color: var(--black1);
    top: 75px;
    padding: 10%;
    padding-left: 6%;
    padding-top: 2px;
    padding-bottom: 3%;
  }

.user {
    position: absolute;
    width: calc(100% - 100px);
    left: 100px;
    min-height: 88vh;
    background-color: rgb(244, 244, 244);
    color: var(--black1);
    top: 75px;
   
}


 .user_header{
    display: grid;
    grid-template-columns: 40% 40%;
    row-gap: 10px;
    column-gap: 50%;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(123, 123, 123);
    padding: 1%;
    padding-left: 20%;
    padding-right: 20%;
    color: var(--white);
    border-radius: 8px;
    font-size: 20px;
}

.second_div1{
    margin-bottom: 20px;
}
.registerd_vehicle{
    margin-bottom: -30px;
}
.addToMaintenace{
    background-color: rgb(48, 48, 48);
    border-radius: 7px;
    border: none;
    padding: 1%;
    margin-left: 86%;
    color: rgb(255, 255, 255);
    width: 20%;
}
.wew{
    margin-top: -20px;
}

.navigateBack{
    background-color: rgb(59, 59, 59);
    color: white;
    margin-left: 98.5%;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    border-radius: 4px;
}
 
.main_content{
    position: absolute;
    width: calc(100%); 
    left: 0px;
    min-height: calc(100vh -75px);
    opacity: var(--black2);
    color: var(--black1);
    top: 75px;
    background-color: rgb(242, 242, 242);
    z-index: -2;
    min-height: calc(100vh -75px);

}