.set_allDiv {
    background-color: rgb(255, 255, 255);
    width: 105%;
    padding: 5%;
    padding-right: 10%;
    border-radius: 10px 10px 10px 10px;
    z-index: 2;
  }
  
  .setTripHeader p h1 {
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 8px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(20, 132, 0);
    margin-bottom: -50px;
    border: 8px solid rgb(238, 238, 238);
    margin-left: 80px;
  }
  
  .company_individual_header .nmn {
    background-color: rgb(255, 255, 255);
    color: rgb(20, 132, 0);
    padding-bottom: 25px;
    margin-bottom: -50px;
    padding-top: 30px;
    border: 8px solid rgb(238, 238, 238);
    z-index: -1;
    /* text-decoration: underline; */
    /* border-radius: 10px; */
    text-transform: none;
  }


  .setTrip {
    background-color: rgb(234, 234, 234);
    margin-left: 4%;
    padding: 2%;
    margin-top: 30px;
    padding-left: -5%;
    border-radius: 10px;
    /* box-shadow: 1px 1px 3px 0px; */
    transition: 0.8s;
    text-decoration: none;
    color: black;
    z-index: 2;
}
.avilabel_trips{
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 20%; 
    /* row-gap: 10%; */
    padding-left: 8%;
    margin-top: 1.8%;
    margin-bottom: 2%;
    padding-bottom: 10px;
    transition: 1s;
    padding-top: 2%;
    border-radius: 7px 7px 7px 7px;
    z-index: 2;
}

.borderBottom{
    border-bottom: 1px solid green;
}
.avilabel_trips p b{
    color: green;
}
.setTrip button{
   background-color: rgb(0, 111, 39);
   padding: 5px;
   padding-right: 5%; 
   padding-left: 5%;
   border: none;
   color: white;
   border-radius: 5px;
  
}
.result{
    text-align: center;
    color: rgb(0, 0, 0);
    /* background-color: red; */
    /* width: 20%; */
    /* padding: 20px; */
    /* margin-bottom: -30px; */
    /* display: flex; */
    z-index: -1;

}
.setTrip button:hover{
    background-color: rgb(1, 79, 28);
}
.set_history{
    /* margin-top: 10px; */
    /* background-color: red; */
    padding-left: 43%;
    padding-bottom: 10px;
}
.avilabel_trips button:hover{
    background-color: rgb(1, 86, 1);

 }
.avilabel_trips:hover {
    background-color: rgb(175, 175, 175);
    color: rgb(255, 255, 255);
    transform: scale(1.15);
}

.search {
    background-color: rgb(255, 255, 255);
    padding: 3.5%;
    border: none;
    width: 127%;
    border-radius: 5px;
    outline: none;
    margin-top: 60px;
}

.trip_date {
    display: flex;
    justify-content: right;
}

.trip_date1 {
    position: relative;
    height: 30px;
    width: 23%;
    outline: none;
    /* background-color: rgb(223, 223, 223); */
    border: none;
    border-bottom: 1px solid rgb(2, 99, 116);
    /* border-radius: 6px; */
    padding: 0 15px;
    margin-top: 20px;
}
.trip_date button{
    position: relative;
    height: 30px;
    width: 10%;
    outline: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    margin-left: 10px;
    margin-top: 20px;
}

.companyList{
    background-color: rgb(52, 52, 52);
    margin-top: 20px;
    padding: 1%;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 35% 35% 10%;
    gap: 10%;
    padding-left: 80px;
    left: 0;

}

.companyList2{
    background-color: rgb(52, 52, 52);
    margin-top: 20px;
    padding: 1%;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 35% 35% 30%;
    gap: 10%;
    padding-left: 80px;
    left: 0;

}
.companyList .dropdownVehicle{
    padding-left: 60px;
    /* background-color: red; */
}
.greentrip{
    margin-top: 5px;
    color: green;
}

.mangProfileButton{
    text-decoration: none;
    background-color: rgb(28, 124, 33);
    font-size: 13px;
    color: rgb(236, 236, 236);
    padding: 6px;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.mangProfileButton2{
    text-decoration: none;
    background-color: rgb(155, 8, 8);
    font-size: 13px;
    color: rgb(236, 236, 236);
    padding: 6px;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
