@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.containerr {
  position: relative;
  width: 100%;
  text-decoration: none;
}

/* ---------------navigation--------------- */

.navigation {
  position: fixed;
  width: 100px;
  height: 100%;
  transition: 0.5s;
  background-color: rgb(54, 54, 54);
  padding: 2px 28px;
  text-decoration: none;
  margin-top: 0px;
}

.navigation ul li {
  text-decoration: none;
  margin-top: 10px;
  transition: 0.5s;
  list-style: none;
  border-bottom: solid 2px rgb(109, 109, 109);
  justify-content: center;
  align-items: center;
  padding-bottom: 7px;
  padding-left: 5px;
}

.navigation ul li p {
  transition: 0.5s;
}

.navigation ul li p:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

/* ---------------header--------------- */
.header {
  position: absolute;
  width: calc(100% - 100px);
  left: 100px;
  min-height: 1vh;
  box-shadow: 0 5px 7px -4px rgba(0, 0, 0, 0.4);
  padding: 20px 0px 0 30px;
  justify-content: space-between;
  z-index: 1;
  display: flex;
}

.header h3 {
  text-align: center;
  color: rgb(36, 114, 43);
  padding-left: 500px;
  padding-top: 4px;
}

.header h3 input {
  text-align: left;
  padding: 5px 10px 5px 20px;
  border: none;
  border-bottom: solid 1px rgb(0, 0, 0);
  margin-right: 100px;
}

.header h2 {
  text-align: left;
}

.header p {
  padding-right: 30px;
  padding-bottom: 10px;
  transition: 0.5s;
}

.header p:hover {
  transform: scale(1.2);
}


/* ------------------ search ------------------- */

.sssearch {
  margin-left: 55%;
  padding-top: 130px;
}

.hide {
  display: none;
}

.sssearch p {
  display: flex;
}

.sssearch p .iiicn {
  margin-top: 8px;
}

.sssearch input {
  width: 61%;
  height: 38px;
  padding-left: 20px;
  border-radius: 6px 0px 0px 6px;
  outline: none;
  border: 1px solid rgb(0, 0, 0);
  margin-left: 10px;
}

.sssearch p button {
  width: 15%;
  background-color: #222;
  color: var(--white);
  border-radius: 0px 7px 7px 0px;
  border: none;
}

.sssearch p button:hover {
  background-color: rgb(67, 67, 67);
  border: none;
}

/*---------------column-----------------*/
.colomnnn {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 9.5%;
  margin-bottom: 0px;
}

.user-11 {
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
  box-shadow: 0px 0px 11px -1px #000000;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.user-12 {
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
  box-shadow: 0px 0px 11px -1px #000000;
  padding: 15px;
}

.makeCenter {
  display: flex;
  justify-content: center;
}

.table tbody table22 {
  border-bottom: none;
}

.for-route {
  margin-left: 10%;
}

.activeroww {
  padding: 10%;
}

.table22 {
  margin-left: 4%;
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  box-shadow: none;
  margin-bottom: 0%;
}

.row-table td {
  padding-bottom: 20px;
}


/* -------------------Place for map --------------------- */

.mapclone {
  box-shadow: 0px 0px 11px -1px #000000;
  border-radius: 2%;
  margin-top: 3%;
  margin-left: 14%;
  margin-right: 4.5%;
  margin-bottom: 3%;
  height: 500px;
}


.mapclone p .mapsize {
  width: 100%;
  height: 100%;
}


/* ------------------- History button --------------------- */
.historyview {
  margin-top: 1%;
  margin-bottom: 20px;
  margin-right: 4.5%;
  display: flex;
  text-align: end;
  justify-content: end;

}

.editt {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  color: white;
  background-color: #000000;

}

.historyview .editt:hover {
  transform: scale(1.03);
}


/* ------------------- responsiveness --------------------- */

@media screen and (max-width: 898px) {
  .colomnnn {
    margin-left: 10%;
  }

}
@media screen and (max-width: 754px) {
  .user-11 {
    margin-left: 17%;
  }
  .mapclone {
    margin-left: 17%;
  }
  
}
@media screen and (max-width: 610px) {
  .sssearch {
    margin-right: 10%;
  }
  .sssearch p button {
    width: 29%;
  }
  
  .colomnnn {  
    display: grid;
    grid-template-columns:100%;
    margin-left: 9.5%;
    margin-bottom: 0px;
  
  }
  .colomnnn .user-12 {
    margin-left: 16%;
  }
  .mapclone {
    margin-left: 24%;
  }
}
@media screen and (max-width: 430px) {
  .sssearch {
    margin-right: 10%;
  }
  .sssearch p button {
    width: 29%;
  }
  
  .colomnnn {  
    display: grid;
    grid-template-columns:103%;
    margin-left: 10%;
    margin-bottom: 0px;
  
  }
  .colomnnn .user-12 {
    margin-left: 17%;
  }
  .mapclone {
    margin-left: 25%;
  }
}